* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 35px;
}

:root {
  --red: #c72027;
}

.sec {
  margin: 100px 0;
}

.bg-red {
  background-color: var(--red);
  color: white;
}
.dot {
  top: 30%;
  right: 0;
}
button {
  white-space: nowrap;
}
.seperate_dot {
  height: 5px;
  width: 5px;
  background-color: var(--red);
  border-radius: 100%;
}
.insight {
  color: var(--red);
  cursor: pointer;
}

/* header start */
header {
  z-index: 999;
  background-color: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  transition: 0.5s all;
  width: 100%;
  max-width: 100%;
}


.header_change{
  width: 1320px;
  margin: auto;
  max-width: 1320px !important;
  transition: 1s all;
  background-color: rgba(0, 0, 0, 0.952);
}


header .container nav{
  position: relative;
}

header > .container nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.671);
}
header nav ul li {
  margin: 0 15px;
}
header a {
  color: rgba(255, 255, 255, 0.671) !important;
  font-weight: 600;
}

header a.active,
header a:hover {
  color: #ff4b53 !important;
}

/* banner section start */

.banner .carousel-item {
  position: relative;
}

.banner .carousel-item .know_more {
  position: absolute;
  bottom: 0;
  background-color: #282828cb;
}
.banner .carousel-item .know_more button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.banner .carousel-indicators {
  right: unset !important;
  bottom: 20px;
  left: unset !important;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: unset !important;
  margin-bottom: 1rem;
  margin-left: unset !important;
}
.banner .carousel-indicators button{
  height: 7px;
  width: 7px;
  border: solid transparent 1px;
  border-radius: 10px;
}
.banner .carousel-indicators button.active{
  width: 30px;
}

/* banner section end */

/* business section start */
.business .right_section button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: var(--red) !important;
}

.business ul li {
  opacity: 80%;
  white-space: nowrap;
}
.business ul li span {
  opacity: 35%;
}

/* business section end */

/* expert section start */

.expert .carousel img {
  width: 100%;
}
.expert .carousel-item > section > div div {
  position: absolute;
  z-index: 99999999;
  bottom: 0;
}
.expert .carousel-indicators {
  bottom: -70px;
}
.expert .carousel-indicators button {
  background-color: var(--red);
  height: 8px;
  width: 8px;
  border-radius: 100%;
}
.expert .carousel-indicators button.active {
  height: 8px !important;
  border-radius: 11px !important;
  width: 50px !important;
}
.expert button {
  background: none;
  border: none;
}
/* expert section end */

/* read section start */
.read section div button {
  background: none;
  border: none;
  color: var(--red) !important;
}
/* read section end */

/* end */
.end section div button {
  background: none;
  border: none;
}
.end.row {
  --bs-gutter-x: 0rem !important;
}

/* footer start */
footer {
  background-color: #303030;
}

footer .logo {
  width: 100px;
}

.navbar-toggler {
  background-color: var(--red) !important;
}
.navbar-toggler span {
  color: white !important;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("./assets/hamburger.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media screen and (max-width: 500px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0;
  }
  #navbarSupportedContent {
    background-color: #282828cb;
    padding-bottom: 10px;
  }
  .sec {
    padding: 10px !important;
    margin: 20px 0;
  }
  .business ul li {
    font-size: 13px;
  }
  .dot {
    display: none;
  }
  header {
    padding: 0 10px;
  }
  header {
    z-index: 999;
    background-color: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    transition: 1s all;
    width: 100%;
    max-width: 100%;
  }
  
  
  .header_change{
    background-color: rgba(0, 0, 0, 0.952);

    width:100%;
    max-width:100% !important;
  }
  .magnify_icon {
    margin-left: 15px;
  }
  header a {
    color: white !important;
    font-weight: 600;
  }

  .banner {
    height: 90vh;
  }
  .banner .carousel,
  .banner .carousel-inner,
  .banner .carousel-item {
    height: 100%;
  }
  .banner .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  .business_img {
    width: 100%;
  }
  .business .right_section {
    padding-left: 0 !important;
    margin-top: 1rem;
  }
  .read {
    padding-top: 40px !important;
  }
  footer .container {
    row-gap: 20px;
  }
  footer .container div {
    padding: 0px 10px !important;
  }
  .copyrights {
    font-size: 11px;
  }
}
